[*.cs]

# IDE0210: Convert to top-level statements
dotnet_diagnostic.IDE0210.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
